<mat-card>
    <h1>Add Book</h1>
    <form #tempForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
          <div>
        <mat-form-field>
            <input matInput placeholder= "title" [(ngModel)] = "title" name = "title" required #spy #temp = "ngModel"> 
        </mat-form-field>
    </div>
        <div>
        <mat-form-field>
            <input matInput placeholder="author" [(ngModel)] = "author" name = "author" required #spy #temp = "ngModel"> 
        </mat-form-field>
    </div>
        <div >
            <button mat-raised-button color="primary" [disabled]="!tempForm.form.valid">{{buttonText}}</button>
            <button mat-raised-button color="button" routerLink="/books" routerLinkActive="active">Cancel</button>
        </div>
      </div>
    </form>
    </mat-card>