<p *ngIf = "!(books$ | async)">Loading....</p> <!--- בזמן שאין עדיין כלום באובסרבר יציג את ההודעה הבאה-->

<button mat-raised-button color="button" routerLink="/addbook" routerLinkActive="active">Add Book</button>


<mat-accordion>
    <mat-expansion-panel *ngFor = "let book of books$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      <button mat-raised-button color="primary" (click)= deleteBook(book.id)>Delete</button>
      <button mat-raised-button color="primary" routerLink="/addbook/ + {{book.id}} ">Update</button>
      by {{book.author}}   
    </mat-expansion-panel>


  </mat-accordion>
  
